@model DoctorViewModel
@{
    ViewData["Title"] = "Prescription Page";
}
<a asp-controller="Prescription" asp-action="Add" class="btn btn-success">Go to add</a>

<div>
    Doctor's data: <br />
    Id:@Model.Id <br/>
    FirstName: @Model.FirstName <br />
    LastName: @Model.LastName <br />
    PhoneNumber: @Model.PhoneNumber <br />
    WorkYears: @Model.WorkYears <br />
    IsAbleToMakePrescriptions: @Model.IsAbleToMakePrescriptions <br />
</div>

<form asp-controller="Prescription" asp-action="Index">
    <input type="text" name="FilterString" />
    <button type="submit" class="btn btn-success">Filter</button>
</form>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    CreatedDate
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in Model.Prescriptions)
            {
                <tr>
                    <th scope="row">@prescription.Id</th>
                    <td>@prescription.Name</td>
                    <td>
                    <a asp-area="" asp-controller="Prescription" asp-action="View" asp-route-prescriptionId="@prescription.Id">View</a>
                    |
                    <a asp-area="" asp-controller="Prescription" asp-action="Delete" asp-route-prescriptionId="@prescription.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>